localhost {

    tls EMAIL

    handle /dashboard* {
        reverse_proxy reloop-dashboard:3000
    }

    handle /dev* {
        reverse_proxy reloop-dev:3000
    }

    handle /docs* {
        reverse_proxy reloop-docs:3000
    }

    handle /admin* {
        reverse_proxy reloop-admin:3000
    }

    handle {
        reverse_proxy reloop-web:3000
    }

    handle /api/auth* {

    }

}
