@import "tailwindcss";
@import "fumadocs-ui/css/black.css";
@import "fumadocs-ui/css/preset.css";
@import "fumadocs-openapi/css/preset.css";

:root {
  --fd-layout-width: 100%;
  --fd-sidebar-text-size: 14px;
}

#nd-sidebar {
  font-size: var(--fd-sidebar-text-size);
}

#nd-sidebar p {
  font-weight: 700;
}

#nd-sidebar a {
  font-weight: 500;
  padding: 6px;
}
#nd-sidebar a > span {
  font-weight: 600;
}


#nd-page {
padding-top: 20px;
}

#nd-toc {
  @apply pr-0
}

#toc-title {
  @apply border-fd-border border-t pt-7! pr-4
}

figure {
  background-color: transparent !important;
}
